:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  /* he y3ni 1.5*times the current font-size */
  font-size: 2.4rem;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
  /* haydi mawjude b kl l links, so mchn ma iktb zet satr b kl class, bktbo hon */
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
/* when we hover on the link, bdna l arrow move to the right */

/* hon we want to the hover state and target the after element */
/* fini iktb inu when hover, l margin-left ysir 10px,
bas hashi rah ysir instantly, mshen ykun fi animation, b3ml transition */
.link-arrow:hover::after {
  margin-left: 10px;
}

/* bla7iz inu bl standard form, font-size byizghar */
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

/* hon bst3ml principle of object oriented css,
lama ykun 3ndi shaghle btiji b kaza form, msln:
3ndi badges bt5tlf alwen l background wl text, so
bst3ml hal principle mshen classification */

/* this principle separates structure from the skin */

/* structure */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  /* ekhr property mhime lama ykun 3ndi limited space, 
    bdi ad ma kabbir mu7tawa l badge, imna3o mn ino 
    ynzal 3a satr jdid */
}

/* skin 
note: bst3ml BEM naming convention
ntibih kif l name convention:
To separate block from modifier we use –-
To separate block from element we use __
*/
.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

/* note 3na nfs badges bas l 7ajm bytghatar, so bdi a3ml
classes mn ajl l font-size
 */
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

/* here we use object oriented css */

/* note: bdi kl element bl inline list ykun display te3a 
inline, badal ma iktb .list--inline li {}, l afdal a3ti 
kl element a class*/
.list--inline .list__item {
  display: inline;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  /* la 7addit hon ble2i inu ma bayyan 3ndi ticks,
  lezm add left padding to our list */
  padding-left: 3rem;
}

/* ble2i inu item mlaza2 ktir bl tick, so lezm
add padding lal item */
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

/* mn ajl l optimization, use svg sprite generator */
/* rje3 7dar l video 3n icons mchn tfhm cz complicated */

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

/* hl2 mn ajl 5alli l icon ybayin inu
fi wara circle mlawan, b7to b container w bl3ab b properties */
.icon-container {
  /* ntibih 3a tasmiye,
    ben klmt icon w container, 
    fi - w msh --
    hed l2n we are only separating two words,
    hon ma fi object oriented css
    (hayda new class w mch variation la icon class) */
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

.icon-container--accent {
  background: var(--color-accent);
}

/* Buttons */

/* awal shi mna3mlo we define the structure,
w ba3den mnsir n5l2 classes jded lal skins */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

/* 3m n2ul iza ken fi button b2albo icon,bdna yeh bla bla */
.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

/* hl2 blashna b skin */

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

/* outline buttons, jame3t li 3ndn borders */

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

/* hl2 bdna nshtghl 3ala block buttons skin */

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

/* placeholder by default bikun 3ndo lon,
bghayro 3a kayfi. Also input bikun 3ndo
font-size by default, bghayro mtl ma binesbni */

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

/* mhim:
nhna bdna nshil border te3 input, l2n group-input 3ndo border,
badal ma nruh 3a .input rule w nshil l border,
badal ma nshil border la kiil inputs,
mnshil border te3 l input lammma ykun b group-input,
so mnst3ml hk rule:
.input-group .input {}
nfs shi krmel button li b2alb l input-group,
ze3jitni l margin yalli faw2o, w bdi zid margin 3a yamino,
asesan ana m7adad bl .btn inu l margin ykun 10px,
badal ma ruh w ghayir honik, bghayr bl button lb2alb l
input-group, so bktb hk rule:
.input-group .btn {} */

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/* Plans */
.plan {
  transition: transform 0.2s ease-out;
}

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  /* opacity he jdide, bt2ul adeh 7addd l lon */
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

/* .plan--popular {
  transform: scale(1.1);
} */

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  /* 3mlna display hek in order for the width to work */
  /* using absolute positioning bdna n7to top-right corner*/
  position: absolute;
  top: -6px;
  right: 5%;
  /* hol top w right, hol offsets */
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }

  .plan--popular {
    transform: scale(1.1);
  }
}

/* Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quotes */

/* ntibih inu l font bl quote li 3na yha,
darker,akbar w Italic */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  /* ta3 n3arrif hal color b variable,
  as a darker color of our body text color */
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

/* note mhime,
mn ajl n3ml design lal name te3 l author,
ba3d ma st3malna media mn ajl nktb
ismo w ism l company ma3 l line image,
fina nktb hk rule:
.quote .media__title {}
ma fiha shi ghalat,
bas it is recommended to add additional class
to the element which has .media__title,
mshen balki yom mnl eyem 8yarna ra2ina
w ktabna l name mn 8er ma nst3ml media component,
hek ma bisir 3na ghalat bl code
so mnzid additional class mnsamiha msln
quote__author
*/

.quote__author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}

/* tari2a mn l toro2 mn ajl n3alli l line la fo2,
inu nst3ml relative positioning */
.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}
/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* note: unit fr tfeja2t fiha inu lma2sad inu
b2som available space 3ala 3adad l fr w bsir bwazi3 */

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* testimonials */

/* note:
lama 7tet ykun 3ndi grid of 2 columns,
image ma3 div, l2et inu fi m7al m3ayan,
ma kent e5de l image ns lsaf7a, y3ni ma ken
3m ysir l twzi3 b tasewi, so b5alli l image tkun
responsive, y3ni badal ma te5d fix size, b3mla responsive:
.testimonial__image {
  width: 100%;
}*/

.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

/* note: hon st3malna direct child selector */
.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callouts */
.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}
/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

/* note mhime: 
5atar b beli,inu badal ma a3ti class
lal h2, bktb hk rule:
.collapsible__header h2 {}
bass tl3 inu balki bl mst2bl 5atar
3abeli 8ayir badal h2 iktb h3, se3ta
rah idtar il7a2a 3l stylesheet ta ghayra,
so hon b7ot class lal h2, (b2sd lal element li bi3abir 3n
l heading), w se3ta shu ma ken no3 l heading ma btfr2*/
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

/* leh 3tet additional class la hal chevron icon?
l2n tan2ul 3ndi kaza icon b hal collapsible class,
se3ta bsir lama if2os 3a hal icon,
iza ketb inu .collapsible icon {},
se3ta it will be applied to all icon
elements in this class, w ana ma bdi hashi. */
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  /* abl ma nktb hal satren li ta7t, kna mst3mlin property
  isma display, shra7na inu leh sta8nayna 3ana bisabab
  bdna nzid animation */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  /* transition: max-height 0.3s;
  badal hal satr, mn2ul inu bdi klchi yn3amalo
  animation, mchen ybayn l far2 */
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
  /* display: block; */
}

/* tari2a mhime mchen n5alli l icon rotate and content
yzhar, lama nf2os 3l icon : 
bzid class isma collapsible--expanded,
lama ykun 3ndi hal class,b3ml rotation w b8ayr b display,
hl2 kif bdi 5alli kil ma if2os 3a icon,
ynzed hal class w ynshel?
hashi can be done using javascript*/

/* note:
mn ajl i5fi w izhor l content,
ma fini ist3ml animation,
y3ni ma fini iji iktob hk: 
transition: display .3s; 
ma byi7sal shi iza hek ktabt.
so instead of using display property,
bst3ml property isma max-height
lech msh height? bi2ilna yha ba3d shwey.
note: with max-height: 0; bisir 3na overflow
so the content rah ydal mbayan bi 8ad nazar 3n l state.
so in order to hide the content, mn2ul overflow: hidden;
hed shi trick, y3ni badal ma nst3ml display,
mnst3ml max-height ma3 overflow properties.
*/

/* Blocks */
.block {
  /* mn ajl fi 7al 8yarna padding te3 block,
  mchen ma ninsa n8ayr l padding in
  skewed blocks */
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
  /* text-align: center;
  mn abl ma n5l2 class block__header,
  kna 3amlin hal property la kl l block,
  hashi ghalat, bcz bdna only l header tkun b ns
  l page */
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

/* as we have 2 types of blocks,
wehd dark w wehd abyad, so 3na
variation lal class block,
so lezm nst3ml skins */

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

/* hl2 kif bdna n5alli hal block
ma2sus mtl ma mawjud b design (asdi shakl traoezoid) ? 
recommended solution to use clip-pat
to do this we need clip path generator*/

.block--skewed-right {
  /* ba3d ma n2ass, bdna l kitebe tiji b ns,
  so zdna padding */
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  /* ba3d ma n2ass, bdna l kitebe tiji b ns,
  so zdna padding */
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bar */
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
  /* ekhr property mchen l buttom yji b nnos vertically */
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

/* .collapsible--expanded .nav__toggler {
  opacity: 1;
} */
/* kna ketbin hal satren li fo2,
bs mshen nkun da2i2in aktar,
bdna n2ul inu izaa ken 3ndi tnen classes: 
nav wl .collapsible--expanded
se3ta bdi nav__toggler ysir fi bla bla
hon bst3ml shi ismo double-class selector
y3ni 3m 2akkid inu 3ndi l tnen classes*/
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

/* he mtl trick mchen yji b ns */
.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* Hero */
.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
/* note krmel rule li fo2
bra2yi l afdal, kawno he l property mawjude b
block--skewed-left,
l afdal inu n3ml overwriting la hal property bi m7allla,
y3ni n2ul lama nkun bl hero, lamma ykun left,bla bla..
bs hon 2allna inu block class is more generic,
y3ni l hero class is more specific,
so 3imil t3dil 3ala hal property b2alb l hero class*/

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* Domain Block */
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}

.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Plans Block */

/*
hayda 7alli ana:
 .plan-domain {
  justify-items: center;
}

.plan-domain__content {
  padding: 0 1rem 3rem;
  max-width: 488px;
  width: 100%;
} 
*/

.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

/* Features */
.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}
