:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  /* he y3ni 1.5*times the current font-size */
  font-size: 2.4rem;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
  /* haydi mawjude b kl l links, so mchn ma iktb zet satr b kl class, bktbo hon */
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
/* when we hover on the link, bdna l arrow move to the right */

/* hon we want to the hover state and target the after element */
/* fini iktb inu when hover, l margin-left ysir 10px,
bas hashi rah ysir instantly, mshen ykun fi animation, b3ml transition */
.link-arrow:hover::after {
  margin-left: 10px;
}

/* bla7iz inu bl standard form, font-size byizghar */
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

/* hon bst3ml principle of object oriented css,
lama ykun 3ndi shaghle btiji b kaza form, msln:
3ndi badges bt5tlf alwen l background wl text, so
bst3ml hal principle mshen classification */

/* this principle separates structure from the skin */

/* structure */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  /* ekhr property mhime lama ykun 3ndi limited space, 
    bdi ad ma kabbir mu7tawa l badge, imna3o mn ino 
    ynzal 3a satr jdid */
}

/* skin 
note: bst3ml BEM naming convention
ntibih kif l name convention:
To separate block from modifier we use –-
To separate block from element we use __
*/
.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

/* note 3na nfs badges bas l 7ajm bytghatar, so bdi a3ml
classes mn ajl l font-size
 */
.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

/* here we use object oriented css */

/* note: bdi kl element bl inline list ykun display te3a 
inline, badal ma iktb .list--inline li {}, l afdal a3ti 
kl element a class*/
.list--inline .list__item {
  display: inline;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  /* la 7addit hon ble2i inu ma bayyan 3ndi ticks,
  lezm add left padding to our list */
  padding-left: 3rem;
}

/* ble2i inu item mlaza2 ktir bl tick, so lezm
add padding lal item */
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

/* mn ajl l optimization, use svg sprite generator */
/* rje3 7dar l video 3n icons mchn tfhm cz complicated */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

/* hl2 mn ajl 5alli l icon ybayin inu
fi wara circle mlawan, b7to b container w bl3ab b properties */
.icon-container {
  /* ntibih 3a tasmiye,
    ben klmt icon w container, 
    fi - w msh --
    hed l2n we are only separating two words,
    hon ma fi object oriented css
    (hayda new class w mch variation la icon class) */
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

/* Buttons */

/* awal shi mna3mlo we define the structure,
w ba3den mnsir n5l2 classes jded lal skins */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

/* hl2 blashna b skin */

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

/* outline buttons, jame3t li 3ndn borders */

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

/* hl2 bdna nshtghl 3ala block buttons skin */

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

/* placeholder by default bikun 3ndo lon,
bghayro 3a kaydi. Also input bikun 3ndo
font-size by default, bghayro mtl ma binesbni */

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

/* mhim:
nhna bdna nshil border te3 input, l2n group-input 3ndo border,
badal ma nruh 3a .input rule w nshil l border,
badal ma nshil border la kiil inputs,
mnshil border te3 l input lammma ykun b group-input,
so mnst3ml hk rule:
.input-group .input {}
nfs shi krmel button li b2alb l input-group,
ze3jitni l margin yalli faw2o, w bdi zid margin 3a yamino,
asesan ana m7adad bl .btn inu l margin ykun 10px,
badal ma ruh w ghayir honik, bghayr bl button lb2alb l
input-group, so bktb hk rule:
.input-group .btn {} */

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
